# Tag the device as master-of-seat so that logind is happy
# (see LP: #1365336)
SUBSYSTEM=="drm", KERNEL=="card[0-9]*", ATTRS{vendor}=="0x10de", DRIVERS=="nvidia", TAG+="master-of-seat"
