[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=NVIDIA X Server Settings
Comment=Configure NVIDIA X Server Settings
Exec=sh -c '/usr/bin/nvidia-settings --load-config-only'
Terminal=false
Icon=nvidia-current-settings
Categories=System;Settings;
